*.iml
.gradle/
.gradle-user/
.kotlin/
/local.properties
local.properties
**/build/
*.apk
*.aab
*.jks
*.keystore
keystore.properties
.env
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
design/main-pages/.chrome-render-profile/
